header{
    background-color: blue;
    padding-top: 25px;
    padding-bottom: 25px;
}
h1{
    color:red;
}

*{
    margin: 0px;
}
a{
    color: black;
    text-decoration: none;
}
footer{
    background-color: rgb(246, 206, 8);
    padding-top: 25px;
    padding-bottom: 25px;
}